#div1 {
    width: 350px;
    height: 200px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }
/* .properties__label{
    font-weight: 600;
    padding:5px;
    width: 100px;
    
} */

  